body
{
	font-family: Roboto;
}
table
{
	max-width: 1024px;
	margin:auto;
	width: 100%;
}
td,tr
{
	max-width: 1024px;
}
.menu
 {
 	background-color:#fff9c2;
 	padding: 20px;
 }
.menu a
{
	text-decoration: none;
	color:black;
}
 .menu td
 {
 	width: 20%;
 	text-align: center;
 }
 .main-img img
 {
 	max-width: 1024px;
 }
.c
 {
 	max-width: 166px;
 }
 .a
 {
 	width: 600px;
 }
 .b
 {
 	text-align: center;
 	background-color:  #ec744e;
 	padding: 40px;
 }
 .g
 {
 	max-width: 168;
 	
 }
.img
 {
 	width: 600px;
 	height: 80px;
 	border: 1px solid #b8b8b8;
 	margin-top: 3px;
 	margin-bottom: 3px;
 }
.p
{
	text-align: center;
	font-size: 18px;
	margin: auto;
    max-width: 50%;
    padding-bottom: 25px;
}
.custom
{
	text-align: center;
	font-size: 15px;
	background-color: black;color: #fff;
	margin-top: -2.5px;
	padding: 10px;

}
.custom td
{
	padding: 8px;
}
.link
{
	text-align: center;
	margin-top: -45px;
	background-color:#d7d7d7; 
}
.ab
{
	padding-left: 38px;

}

.im
{
	width: 100%;
	height: 80px;
	border:1px solid #afadad;
	padding-top: 3px;
	padding-bottom:3px;
	margin-top: 1px;
	margin-bottom:1px;

}
.ga
{
	max-width: 145px;
}
.abc
{
	padding-left:1px;
}
.con
{
	width: 100%;
	height: 50px;
}
.mess
{
	width: 100%;
	height:150px;
}
.wid
{
	max-width: 100px;
}
.fnt
{
	font-size: 14px;
}
.btn
{
	padding: 10px 20px 10px 20px;
	background-color: #bb4637;
	color: white; 
}
.btnn
{   
	padding:14px;
	background-color: #bb4637;
	color: white; 
}